---
forPages: 1
---
<!DOCTYPE html>
<html amp lang="ja">
  <head>
    <meta charset="utf-8" />
    <title> - PULP.photo</title>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	  <link rel="canonical" href="index.html" />
    <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "author": {
    "@type": "Person",
    "name": "pulp.photo"
  },
  "publisher": {
    "@type": "Organization",
    "name": "pulp.photo",
    "logo": {
      "@type": "ImageObject",
      "url": "http://pulp.photo/img/pulp-logo.png",
      "width": "600",
      "height": "600"
    }
  },
  "mainEntityOfPage": "./index.html",
  "datePublished": "{{ n.lastupdate-datetime }}",
  "dateModified": "{{ n.lastupdate-datetime }}",
  "@type": "Article",
  "headline": "{{ n.title-en }} - {{ d.article-title }}",
  "image": {
    "@type": "ImageObject",
    "height": "800",
    "width": "1200",
    "url": "http://puhl.photo{{ n.og-img }}"
  }
}
    </script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  </head>
  <body>

  	<header class="navbar navbar-light navbar-static-top bd-navbar">
  	  <div class="clearfix">
  	    <h1 class="m-a-0">
  	    <a class="navbar-brand hidden-sm-up" href="/">
  	      PULP.photo
  	    </a>
  	    </h1>
  	  </div>
  	  <div class="collapse navbar-toggleable-xs" id="bd-main-nav">
  	    <nav class="nav navbar-nav">
  	      <a class="nav-item nav-link active" href="/">PULP.photo</a>
  	    </nav>
  	  </div>
  	</header>

{{> body }}

  	<div class="footer-container">
  		<div class="container">
  			<footer>
  				<p class="m-b-lg">&copy;Copyright PULP.photo, All rights reserved.</p>
  			</footer>
  		</div>
  	</div>

  </body>
</html>
